<div>
  <div class="about_section">
    <p>Hello, my name is</p>
    <h1>Alexander Boswell</h1>
    <p>I am a FullStack Engineer trained in Java, React, and AWS</p>
    <p>I am able to build functional web applications</p>
    <p>I enjoy learning new things, and can adapt to new technologies quickly.</p>
  </div>

  <app-skills-section></app-skills-section>

  <div class="interests">
    <h3>Interests</h3>
    <hr/>
    <h3 class="interest-headers">Linux</h3>
    <img class="desktop_img"
         src="assets/desktop.png"
         alt="Desktop Image of Endeavour OS with Specifications"/>
    <div class="description">
      <p>I have been using linux for almost 8 years now!</p>
      <p>I am currently using
        <a href="https://endeavouros.com/">Endeavour OS</a>
        with
        <a href="https://wiki.archlinux.org/title/bspwm">BSPWM</a>
        as my Desktop Environment</p>
      <p>BSPWM is a window tiling manager meant to represent the windows
        as the leaves of a full binary tree.</p>
    </div>
  </div>

  <div class="works">
    <h3>My Work</h3>
    <hr/>
    <app-works-section></app-works-section>
  </div>

  <footer>
    <p>Alexander Boswell © 2022</p>
  </footer>
</div>
