<div class="skills">
  <h3>Skills</h3>
  <hr/>
  <div class="skills_list">
    <p><img class="skills_logos"
            src="assets/logos/java.png"
            alt="Java Logo">Java</p>
    <p><img class="skills_logos"
            src="favicon.ico"
            alt="Angular Logo">Angular</p>
    <p><img class="skills_logos"
             src="assets/logos/spring.png"
             alt="Spring Logo">Spring Boot</p>
    <p><img class="skills_logos"
             src="assets/logos/hibernate.png"
             alt="Hibernate Logo">Hibernate</p>
    <p>React</p>
    <p><img class="skills_logos"
            src="assets/logos/typescript"
            alt="Typescript Logo">TypeScript</p>
    <p>HTML</p>
    <p>CSS</p>
    <p>Git</p>
    <p>SQL</p>
    <p>Linux</p>
    <p>CLI</p>
  </div>
</div>
